DATABASE_URL: Your PostgreSQL connection string (e.g., postgresql://user:password@host:port/database?schema=public).

JWT_SECRET: A secure secret string to sign JWT tokens.

GOOGLE_CLIENT_ID: Your Google Cloud Client ID for OAuth 2.0.

GOOGLE_CLIENT_SECRET: Your Google Cloud Client Secret.

PORT:  The port where the apis is running (e.g., 5000).

SERVER_URL: The base URL of your backend (e.g., http://localhost:5000).

CLIENT_URL: The base URL of your frontend (e.g., http://localhost:5173).

LOG_LEVEL:  'info' es el valor por deafult, Moficia el nivel de detalle de los log de pino

# Notas sobre valores de LOG_LEVEL para pino:
# trace: Para el seguimiento más detallado y verboso posible.
# debug: Para información de depuración que solo es útil para los desarrolladores.
# info: Para eventos importantes pero normales en el flujo de la aplicación (ej. "Servidor iniciado", "Usuario registrado").
# warn: Para advertencias sobre eventos que no son un error, pero que son inesperados o podrían indicar un problema futuro (ej. "Intento de login fallido").
# error: Para errores que han ocurrido y han afectado la ejecución de una operación (ej. "No se pudo conectar a la base de datos").
# fatal: Para errores tan graves que la aplicación no puede continuar y debe cerrarse.